<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><!-- Mobile Specific Metas -->
    
    <!-- Title -->
    <title>Green n Personal - It's Fast, It's Easy</title>
    
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/Favicon.ico">
    
    <!-- CSS Stylesheet -->
    <link href="css/bootstrap.css" rel="stylesheet"><!-- bootstrap css -->
    <link href="css/owl.carousel.css" rel="stylesheet"><!-- carousel Slider -->
    <link href="css/styles.css" rel="stylesheet" /><!-- font css --> 
    <link href="css/datepicker.css" rel="stylesheet" /><!-- Date picker css -->
    <link href="css/loader.css" rel="stylesheet"><!-- Loader Box css -->
    <link href="css/docs.css" rel="stylesheet"><!--  template structure css -->
    <script src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/app.js"></script>
    <!-- Used Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Domine:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,700i%7CRoboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
    
<body ng-app="myApp" ng-controller="invitationCtrl">
    <div class="page">
        <div id="loader-wrapper">
            <div id="loader"><img src="images/loader.gif" alt=""></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

        <div header></div>
                    <section class="content" style="background-color: #e8e8e8;">
                <div class="breadcrumb">
                    <div class="container">
                        <ul>
                            <li><a href="#">Home</a> / </li>
                            <li ng-repeat="bread in breadcrumb"> <a href="{{bread.href}}">{{bread.link}}</a> / </li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="venues-view">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div class="left-side">
                                    <div class="search">
                                        <div class="search-icon"><div class="icon icon-search"></div></div>
                                        <input type="text" placeholder="Search by name">
                                    </div>
                                    <div class="filter-view">
                                        <div class="filter-block" ng-repeat="filteritem in filter">
                                            
                                            <div class="title">
                                                

                                                <h2>{{filteritem.name}}</h2>
                                            </div>

                                            <div class="check-slide" ng-repeat="value in filteritem.value">
                                                
                                                <label class="label_check" for="attr_{{filteritem.attr_id[$index]}}"><input type="checkbox" name="attr_{{filteritem.attr_id[$index]}}" id="attr_{{filteritem.attr_id[$index]}}" value="{{value}}">{{value}}</label>
                                                
                                            </div>
                                        </div>
                                  
                                    </div>
                                    
                                    <div class="left-productBox hidden-sm">
                                        <h2>Featured Venues</h2>
                                        <div class="product-img"><img src="images/property-img/venues-img8.jpg" alt=""></div>
                                        <h3>Hilton Berlin </h3>
                                        <p>Mohrenstrasse 30 Berlin, 10117 - Germany</p>
                                        <div class="reviews">3.5 <div class="star"><div style="width:70%;" class="fill"></div></div>reviews</div>
                                        <a href="#">Vewi all Details <span class="icon icon-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9 col-sm-12">
                                    <div class="venues-slide first">
                                        <div class="col-md-4 col-lg-4 invitation-viewer" ng-repeat="item in items">
                                            <div class="left-side">
                                                <div class="left-productBox">
                                                    <div class="product-img" ng-init="video_url='http://youtube.com/embed/{{item.video_url}}'">
                                                        {{video_url}}
                                                        <iframe class="embed-responsive-item" src="{{item.video_url | trusted}}"></iframe>
                                                        
                                                    </div>
                                                    <h3>{{item.name}}</h3>
                                                    <h3><p>INR {{item.price}}</p></h3>
                                                    <div class="reviews">3.5 <div class="star"><div style="width:70%;" class="fill"></div></div>reviews</div>
                                                    <a ng-if="isLogin" href="./form.html#?product_id={{item.prd_id}}&card_id={{item.id}}&form_id={{item.form_id}}">Customize Video <span class="icon icon-arrow-right"></span></a>
                                                    <a ng-if="!isLogin" data-toggle="modal" data-target="#loginModal">Customize Video <span class="icon icon-arrow-right"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                            </div>
                            <!-- <div class="pagination col-md-9 col-lg-9 col-sm-12">
                                <ul>
                                    <li class="prev disabled"><a href="#">Prev</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#">Next</a></li>
                                </ul>
                            </div> -->
                            
                        </div>
                    </div>
                </div>
            </section>

        <footer id="footer">
            <div footer></div>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>
    <script type="text/javascript" src="js/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/placeholder.js"></script>
    <script type="text/javascript" src="js/coustem.js"></script>
</body>
</html>
